main {
	background-color: rgba(220, 20, 60, 0.4)}

div#content h2 {
	background-color: MistyRose;
	padding: 20px;
	margin: 15px;}
div#content2 {
	padding: 20px;
	padding-right: 35px;}
div#content2 figure {
	float: left;
	margin: 20px;}
div#content2 figure figcaption {
	font-size: 10px;}
img#circus {
	float: right;
	margin: 20px;}
div#content2 blockquote {
	font-family: Georgia;
	font-size: 24px;
	font-style: italic;
	padding: 10px 40px;
	border-top: 1px solid DimGray;
	border-bottom: 1px solid DimGray;}
p#clear {
	clear: left;}