/* for review links opacity */
	/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    100% {opacity: 0.6;}
}
	/* Standard syntax */
@keyframes mymove {
    100% {opacity: 0.6;}
}

main {
	background-color: rgba(139, 69, 19, 0.5);}

div#content h2, div#content h3 {
	padding: 20px;
	margin: 15px;}
div#content h2 {
	background-color: MistyRose;}
div#content h3 {
	background-color: #F59BAC;}
div#content a {
	float: left;
	width: 300px;}
div#content a:hover {
	-webkit-animation: mymove 0.5s; /* Chrome, Safari, Opera */
    animation: mymove 0.5s;
	-webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
	animation-fill-mode: forwards;}
.non {
	clear: left;}