main {
	background-color: rgba(139, 69, 19, 0.35);}
div#content {
	margin: 15px;
	width: 670px;}
div#bookinfo {
	padding: 20px;
	background-color: MistyRose;}
div#bookinfo h2 {
	margin: 0px;}
div#content p {
	padding: 0px 20px;}